@charset "utf-8";


:root {
  --color-accent: #50C7A5;
  --color-onColor: #FFFFFF;
  --color-reactive: #BA63C7;
  --color-danger: #DE5386;
  --color-warning: #EA8530;
  --color-success: #4170D5;
  --color-light-2dp: #F5F6F8;
  --color-light-1dp: #ECEEF2;
  --color-light-0dp: #DADEE5;
  --color-onLight-over: rgba(#2F3144, .08);
  --color-onLight-separator: rgba(#2F3144, 0.16);
  --color-onLight-primary: rgba(#2F3144, 0.96);
  --color-onLight-secondary: rgba(#2F3144, 0.72);
  --color-onLight-tertiary: rgba(#2F3144, 0.56);
  --color-onLight-quaternary: rgba(#2F3144, 0.4);
  --color-dark-2dp: #2F3144;
  --color-dark-1dp: #292C3C;
  --color-dark-0dp: #242634;
  --color-onDark-over: rgba(#020303, .16);
  --color-onDark-separator: rgba(#020303, 0.24);
  --color-onDark-primary: rgba(#E0E1E9, 0.96);
  --color-onDark-secondary: rgba(#E0E1E9, 0.72);
  --color-onDark-tertiary: rgba(#E0E1E9, 0.56);
  --color-onDark-quaternary: rgba(#E0E1E9, 0.4);
  --shadow-lv1: 0px 0.5px 2px 0px rgba(0,0,0, 16%),0px 0px 1px 0px rgba(0,0,0, 8%);
  --shadow-lv2: 0px 2px 4px 0px rgba(0,0,0, 16%), 0px 0px 1px 0px rgba(0,0,0, 4%);
  --shadow-lv3: 0px 4px 8px 0px rgba(0,0,0, 16%),0px 0px 2px 0px rgba(0,0,0, 4%);
  --shadow-lv4: 0px 8px 16px 0px rgba(0,0,0, 16%),0px 2px 4px 0px rgba(0,0,0, 4%);
  --shadow-lv5: 0px 16px 24px 0px rgba(0,0,0, 16%),0px 2px 8px 0px rgba(0,0,0, 4%);
  --shadow-lv6: 0px 20px 32px 0px rgba(0,0,0, 24%),0px 2px 8px 0px rgba(0,0,0, 8%);
}